<form class="save-memo" action="/add" method="POST">
  <div class="title-block">
    <input class="title-input" required type="text" name="title" value="" placeholder="タイトル">
  </div>
  <div class="text-block">
    <textarea class="text-input" required name="content" placeholder="メモ内容"></textarea>
  </div>
  <div>
    <input class="save-button" type="submit" value="保存">
  </div>
</form>
