<form class="save-memo" action=<%= "patch/#{@memos[params[:id].to_i][:id]}" %> method="POST">
  <div class="title-block">
    <input class="title-input" required type="text" name="title" value=<%= "#{@memos[params[:id].to_i][:title]}" %> >
  </div>
  <div class="text-block">
    <textarea class="text-input" required name="content" ><%= "#{@memos[params[:id].to_i][:content]}" %></textarea>
  </div>
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <input class="save-button" type="submit" value="変更">
  </div>
</form>
