<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= @title %></title>
</head>
<body>
  <header class="app-title">
    <h1 class="app-name"><a href="/">メモアプリ</a></h1>
  </header>
  <%= yield %>
</body>
</html>
